.card-span-name {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.1em 0.2em;
  background: rgb(235, 235, 235);
  border: 1px solid darken(rgb(235, 235, 235), 10);
  border-radius: 3px;
  margin: 0 1em;
}

.card-span-title {
  font-size: 1.3em;
}
