// adjust nprogress style

#nprogress .bar {
  background: #4A10E9;
}

#nprogress .peg {
  box-shadow: 0 0 10px #4A10E9, 0 0 5px #4A10E9;
}

#nprogress .spinner-icon {
  border-top-color: #4A10E9;
  border-left-color: #4A10E9;
}

@import '../node_modules/nprogress/nprogress.css';


html {
  min-height: 100%;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-weight: 300;
  letter-spacing: 0.05em;
}

// home page
@import './pages/home/search.scss';
@import './pages/home/spans.scss';

// trace page
@import './pages/trace/search.scss';
@import './pages/trace/tree/index.scss';