@import '../node_modules/nprogress/nprogress.css';
@import "../node_modules/antd/dist/antd.css";

html {
  min-height: 100%;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-weight: 300;
  letter-spacing: 0.05em;
}